/***********************************************************************
                  ***Background Image Sylingsss***
 **********************************************************************/

body {
	background-image: url('../images/starsky.jpg');
	color: white;
}


/***********************************************************************
                  ***Menu Bar Styling***
 **********************************************************************/
 .main-nav {

    display: flex;
    list-style: none;
    margin: 0;
    flex-wrap: wrap;
}

li {
    padding: 20px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

a {
    color: #f5f5f6;
    text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  max-width:100%;
}
.menu-list {
    margin-left: auto;
}

.nav-menu {
    cursor:pointer;
    color:#FFF;
    font-size:1.8em;
    border-radius:2px;
    transition: all 0.3s linear;
}

.main-nav{
    background-color:#000;
}

.nav-menu .main-nav .menu-list:not(.btn) i.fa{
    position: relative;
    top: 3px;
    text-align: center;
    width: 21px;
    padding-right: 100px;
}

.topmenugreeting {

    font-family:Tangerine;
    font-size: 3em;
    text-shadow: 2px 2px 2px #000;
    transition: all 5s;
    color: magenta;
    text-align: center;
    background-color: black;
    margin-top: 6%;
}

/***********************************************************************
                  ***Menu Bar Media Queries***
 **********************************************************************/

@media screen and (max-width: 992px){
	.nav-menu{
		font-size: 1.5em;
	}
}
@media screen and (max-width: 600px){
	.nav-menu
	{
		font-size: 1em;
	}

}

@media screen and (max-width: 992px){
	.topmenugreeting
	{
		font-size: 2.2em;
		margin-top: 20%;
	}
}
@media screen and (max-width: 600px){
	.topmenugreeting
	{
		font-size: 1.2em;
		margin-top: 31%;
	}

}

/***********************************************************************
                  ***Top Column Styling***
 **********************************************************************/

 .toprow {
  display: flex;
  flex-wrap: wrap;
}

.topcolumn1 {
  float: left;
  background-image: url('../images/quran.gif');
}

.topcolumn2{
  float: left;
  width: 60%;
  height: 300px; 
  padding-left: 25px;
}

.p1 {
  
  text-align: center;
  font-family:  Helvetica, Verdana, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: bolder;
  font-style: italic;

}

.toprow:after {
  content: "";
  display: table;
  clear: both;
}

.welcometext{
  text-align: center;
  color: black;
  font-family: cursive;
  font-weight: bolder;
  font-size: 3em;
  text-shadow: 4px 4px 8px #FF0000;
  font-style: italic;

}

/***********************************************************************
                  ***Top Column Media Queries***
 **********************************************************************/

@media screen and (max-width: 992px){
	.p1
	{
		font-size: 0.8em;
	}
}
@media screen and (max-width: 600px){
	.p1
	{
		font-size: 0.5em;
	}

}

@media screen and (max-width: 992px){
	.welcometext
	{
		font-size: 2em;
		margin-top: 10%;
	}
}
@media screen and (max-width: 600px){
	.welcometext
	{
		font-size: 1.5em;
		margin-top: 10%;
	}

}

.p2 {

  text-align: center;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  font-weight: bolder;
  font-style: italic;

}
/***********************************************************************
                  ***Second  Column Media Queries***
 **********************************************************************/

@media screen and (max-width: 992px){
	.p2
	{
		font-size: 1em;
	}
}
@media screen and (max-width: 600px){
	.p2
	{
		font-size: 0.8em;
	}

}

